{% extends "base/base-templates.html" %}
{% load static %}
{% block content %}
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
        <div class="product_img_slide owl-carousel">
            <div class="single_product_img">
                <img src="{% static 'assets/img/gallery/gallery1.png' %}" alt="#" class="img-fluid">
            </div>
            <div class="single_product_img">
                <img src="{% static 'assets/img/gallery/gallery01.png' %}" alt="#" class="img-fluid">
            </div>
            <div class="single_product_img">
                <img src="{% static 'assets/img/gallery/gallery1.png' %}" alt="#" class="img-fluid">
            </div>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="single_product_text text-center">
        
                {% for img in images %}
                
                <h2>{{img.watch_title}}</h2>
                <h3>{{img.watch_detail}}</h3>
                <img src="{{img.watch_pic.url}}" alt="">
            <div class="card_area">
                <div class="product_count_area">
                    <p>Quantity</p>
                    <div class="product_count d-inline-block">
                        <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                        <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                        <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                    </div>
                    <p>{{img.watch_price}}</p>
                </div>
                <form  method="POST" action="/shop/new/{{img.id}}" >
                    {% csrf_token %}
                <div class="img-cap">
                    <input hidden type="text" name="product" value="{{img.id}}">
                    <span><input type="submit" class="btn_3" value="Add to cart"></span>
                    <!-- <span><h3><a type="submit" class="btn_3" href="/shop/{{img.id}}">Add To Cart</a></h3></span> -->
                </div>
            </form>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</div>

<!--================End Single Product Area =================-->
   {% endblock %}